.toolbar {
  /* position: fixed; */
  top: 0;
  left: 0;
  background: transparent;
  height: 60px;
  width: 100%;
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar .logo {
  height: 2em;
}

.toolbar-toggle-button span {
  margin-left: 0.5em;
}

.toolbar-toggle-button {
  display: flex;
  align-items: center;
  font-size: 23px;
}

.toolbar-logo {
  height: 100%;
  font-size: 2.5em;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}

.toolbar-logo a {
  text-decoration: none;
  color: black;
}

.toolbar-navigation {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 1rem;
  color: black;
  font-weight: 700;
}

.toolbar-auth {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-auth a {
  text-decoration: none;
  font-size: 1.5rem;
}

.toolbar-navigation-items ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.toolbar-navigation-items li {
  padding: 0 0.5rem;
}

.toolbar-navigation-items span,
.toolbar-navigation-items a {
  color: var(--blue);
  text-decoration: none;
  font-size: 18px;
  margin-left: 1em;
  margin-right: 1em;
  cursor: pointer;
}

.toolbar-navigation-items span:hover,
.toolbar-navigation-items span:active {
  color: var(--light-grey);
}

.toolbar .spacer {
  display: none;
}

@media (max-width: 900px) {
  .toolbar-navigation-items {
    display: none;
  }

  .toolbar {
    padding-left: 0;
    padding-right: 0;
  }

  .toolbar-auth {
    display: none;
  }

  .toolbar-navigation {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .toggle-button {
    align-self: flex-start;
  }
}

@media (min-width: 901px) {
  /* .toolbar-toggle-button {
    display: none;
  } */
}

@media (max-width: 540px) {
  .toolbar .hamburger-title {
    display: none;
  }
}

@media (max-width: 370px) {
  .toolbar .social {
    display: none;
  }
}
